$itemWidth: 310px;
$itemHeight: 310px;

as24-carousel {
  display: block;
  position: relative;
  margin: 0 20px;
  transition: margin 0.33s;
  will-change: margin;

  .as24-pagination {
    &[data-dir="left"] {
      left: 10px;
      transition: margin 0.33s;
      transform: rotate(180deg);
    }

    &[data-dir="right"] {
      right: 10px;
      transition: margin 0.33s;
    }

    content: '';
    border: 2px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    vertical-align: center;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, .5) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDI4IDQ4Ij48c3R5bGU+LnN0MHtmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiNmZmZ9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjcuNCAyNC4xTDMuMSA0OCAwIDQ1LjFsMjEuNC0yMUwwIDMuMSAzLjEgMHoiLz48L3N2Zz4=) no-repeat 18px center;
    background-size: 30%;
    transition: background-color 0.3s, opacity .3s;

    &.hide {
        opacity: 0;
    }
    &:hover:not(.hide) {
        background-color: rgba(0, 0, 0, .8);
    }
    &:focus {
      outline: none;
    }
  }

  /* End pagination */
  as24-carousel-item {
    border: 1px solid #dcdcdc;
    display: inline-block;
    width: $itemWidth;
    height: $itemHeight;
    margin: 0 10px;
    background-color: white;
    text-align: center;
    line-height: 1.5rem;

    .description {
      padding: 20px 20px 28px;
    }

    img {
      width: 100%;
      display: block;
      background-color: #ddd;
    }

    @media screen and (min-width: 320px) {
      &:first-child {
        margin-left: 0;
      }
    }
  }

  .as24-carousel-wrapper {
    overflow: hidden;
  }

  .as24-carousel-container {
    height: $itemHeight;
    width: 9999em;
    transition: transform .9s;
    perspective: 1000px;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
}
