as24-gallery {
  display: block;
  position: relative;
  overflow: hidden;

  .left, .right {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
    min-width: 40px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="28" height="48" viewBox="0 0 28 48" xml:space="preserve" enable-background="new 0 0 28 48"><style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;fill: #fff;}</style><polygon class="st0" points="27.4 24.1 3.1 48 0 45.1 21.4 24.1 0 3.1 3.1 0 "/></svg>') no-repeat center center;
    // '

    &:before {
      //used for vertical positioning of pager
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .left {
    left: 0;
    transform: rotate(180deg);
  }

  .right {
    right: 0;
  }

  @media all and (max-width: 769px) {
    .left, .right {
      top: 50%;
      height: 60px;
      margin-top: -30px;
      margin-bottom: auto;
      background-size: 16px 28px;
    }
  }

  .pager {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 60px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
  }

  .placeholder {
    display: none;
  }

  as24-gallery-item {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 10px;
    //don't increase transition 0.2s, will cause position calculation problems
    transition: left 0.2s;
    transition-timing-function: ease-in-out;

    &.no-transition {
      transition: all 0s ease 0s;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
