$item-width-s: calc(100vw - 40px);
$item-width-m: 310px;

as24-carousel {
  display: block;
  position: relative;

  // CAROUSEL PAGINATION
  .as24-pagination {
    &[data-direction="left"] {
      left: 20px;
      transform: rotate(180deg);
    }

    &[data-direction="right"] {
      right: 20px;
    }

    border: 2px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    vertical-align: center;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, .5) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDI4IDQ4Ij48c3R5bGU+LnN0MHtmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiNmZmZ9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjcuNCAyNC4xTDMuMSA0OCAwIDQ1LjFsMjEuNC0yMUwwIDMuMSAzLjEgMHoiLz48L3N2Zz4=) no-repeat 18px center;
    background-size: 30%;
    transition: background-color 0.3s, opacity .3s;

    &.hide {
      opacity: 0;
    }
    &:hover:not(.hide) {
      background-color: rgba(0, 0, 0, .8);
    }
    &:focus {
      outline: none;
    }
  }

  // CAROUSEL ITEM
  as24-carousel-item {
    border: 1px solid #dcdcdc;
    display: inline-block;
    width: $item-width-s;
    margin: 0 10px;
    background-color: white;
    text-align: center;
    line-height: 1.5rem;

    .description {
      padding: 20px 20px 28px;
      > a {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
      }
    }

    img {
      width: 100%;
      display: block;
      background-color: #ddd;
    }

    @media screen and (min-width: 320px) {
      &:first-child {
        margin-left: 20px;
      }
      &:last-child {
        margin-right: 20px;
      }
    }

    @media screen and (min-width: 480px) {
      width: $item-width-m;
    }
  }

  .as24-carousel-wrapper {
    overflow: hidden;
  }

  .as24-carousel-container {
    display: inline-block;
    white-space: nowrap;
    transition: transform .9s;
    perspective: 1000px;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
}
